body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

img{
    height: 60px;
    width: 60px;
    margin-top: 5%;
}

label{
    margin-top: 7px;
    font-size: 14px;
}

/* .legend{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
} */

.d-flex{
    display: flex;
}

.fd-column{
    flex-direction: column;
}

.just-content-center{
    justify-content: center;
}

#container{
    flex-direction: row-reverse;
    background-image: url('images/bgImage.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 853px;
}

#title{
    align-items: center;
}

#skills{
    margin-left: 3%;
}

#description{
    margin-top: 30px;
}

#photo{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    margin-top: 0 !important;
}

#logo-php{
    width: 67px !important;
    height: 42px !important;
}

#label-php{
    padding-left: 7px !important;
}


